<div class="article-details">
    <div class="article-title-wrapper">
        <h2 class="article-title">
            <a href="{{ .RelPermalink }}">
                {{- .Title -}}
            </a>
        </h2>
        {{/* 修改分类位置 */}}
        {{/*  {{ if .Params.categories }}
            <header class="article-category">
                {{ range (.GetTerms "categories") }}
                    <a href="{{ .RelPermalink }}" {{ with .Params.style }}style="background-color: {{ .background }}; color: {{ .color }};"{{ end }}>
                        {{ .LinkTitle }}
                    </a>
                {{ end }}
            </header>
        {{ end }}  */}}
         {{/* 修改标签位置 */}}
        {{ if .Params.tags }}
            <header class="article-tags">
                {{ range (.GetTerms "tags") }}
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                {{ end }}
            </header>
        {{ end }}

        {{ with .Params.description }}
        <h3 class="article-subtitle">
            {{ . }}
        </h3>
        {{ end }}
    </div>

    {{ $showReadingTime := .Params.readingTime | default (.Site.Params.article.readingTime) }}
    {{ $showWordCount := .Params.wordCount | default (.Site.Params.article.wordCount) }}
    {{ $showReadingCount := .Params.readingCount | default (.Site.Params.article.readingCount) }}
    {{ $showDate := not .Date.IsZero }}
    {{ $showFooter := or $showDate $showReadingTime $showWordCount $showReadingCount }}
    {{ if $showFooter }}
    <footer class="article-time">
        {{ if $showDate }}
            <div>
                {{ partial "helper/icon" "date" }}
                <time class="article-time--published">
                    {{- .Date | time.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}
                </time>
            </div>
            {{- if ne .Lastmod .Date -}}
            <section class="article-lastmod">
                {{/*  {{ partial "helper/icon" "clock" }}  */}}
                <time class="article-lastmod-time">
                    {{ T "article.lastUpdatedOn" }} {{ .Lastmod | time.Format ( or .Site.Params.dateFormat.lastUpdated "Jan 02, 2006" ) }}
                </time>
            </section>
            {{- end -}}
        {{ end }}
        {{/*  添加阅读时常  */}}
        {{ if $showReadingTime }}
            <div>
                {{ partial "helper/icon" "clock" }}
                <time class="article-time--reading">
                    {{ T "article.readingTime" .ReadingTime }}
                </time>
            </div>
        {{ end }}
        {{/*  添加字数统计  */}}
        {{ if $showWordCount }}
        <div>
            {{ partial "helper/icon" "count" }}
            <time class="article-words">
                {{ T "article.wordCount" .WordCount }}
            </time>
        </div>
        {{ end }}
        {{/*  添加阅读次数统计  */}}
        {{ if and $showReadingCount .Site.Params.busuanzi.enable }}
        <div class="article-analysic">
                    {{ partial "helper/icon" "read" }}
                    <time class="article-words">
                        <span id="busuanzi_container_page_pv">已阅读&nbsp<span id="busuanzi_value_page_pv"></span>&nbsp次</span>
                    </time>
                </div>
        {{ end }}
    </footer>
    {{ end }}
    {{/* 添加文章预览 */}}
    {{/*  {{ if .Params.preview }}
        <div class="article-preview">
            {{ .Params.preview }}
        </div>
    {{ end }}  */}}
    {{/* 添加文章预览 */}}
    {{ if .IsTranslated }}
        <footer class="article-translations">
            {{ partial "helper/icon" "language" }}
            <div>
                {{ range .Translations }}
                    <a href="{{ .Permalink }}" class="link">{{ .Language.LanguageName }}</a>
                {{ end }}
            </div>
        </footer>
    {{ end }}
</div>
